fastapi
uvicorn[standard]
httpx
python-dotenv
livekit-agents
livekit-plugins-assemblyai
livekit-plugins-cartesia
livekit-plugins-noise-cancellation
livekit-plugins-openai
livekit-plugins-google
livekit-plugins-anthropic
livekit-plugins-silero
opik
